---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';
import { Download } from 'lucide-static';
import Icon from '../../Icon.astro';
import { classes } from '../../../styles/tailwindClassNames';
import { cn } from '../../../utils/cn';
//DEV NOTE Output is now set to server in astro.config.mjs but an alternative if you want to set it in the component is to use below:
//export const prerender = false;
//This makes only this component server rendered and not the whole page.

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const cvPath =
  lang === 'sv'
    ? '/publicFiles/CV_SE_Jonas_Andersson_Juni_2025.pdf'
    : '/publicFiles/CV_EN_Jonas_Andersson_Juni_2025.pdf';

const { welcomeText } = t[lang].cvContent;
const { download } = t[lang].labels;
const { welcomeTitle } = t[lang].sectionTitles;
---

<CvSection id="profile" title={welcomeTitle} border={true} scroll={false}>
  <p class={cn(classes.text.paragraph, 'whitespace-pre-line')}>{welcomeText}</p>
  <a
    href={cvPath}
    class="flex items-center justify-center mt-4 text-lg font-semibold text-fg hover:text-accent"
    download="CV-Jonas-Andersson"
  >
    <div class="flex items-center justify-center gap-x-2 mt-4 hover:text-accent">
      <Icon
        svg={Download}
        size="md"
        color="inherit"
        class="text-inherit hover:text-accent"
        ariaLabel="Github"
      />
      <p class="font-body text-lg hover:text-accent">{download}</p>
    </div>
  </a>
</CvSection>
