---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const { experience } = t[lang].cvContent;
const { experienceTitle } = t[lang].sectionTitles;
---

<CvSection id="work-experience" title={experienceTitle} border={true} scroll={true}>
  <ul class="space-y-6 font-body text-lg text-left">
    {
      experience.map((job) => (
        <li>
          <h3 class="text-2xl font-logo mb-1">{job.company}</h3>
          <p>
            <span class="font-semibold">Role:</span> {job.position}
            <span class="hidden sm:inline"> &nbsp;|&nbsp; </span>
            <br class="block sm:hidden" />
            <span class="sm:ml-2 font-semibold">Duration:</span> {job.startDate} – {job.endDate}
          </p>
          <ul class="list-disc pl-6 mt-2 space-y-1">
            {job.workDone.map((task) => (
              <li>{task}</li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</CvSection>
