---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const { activeSkills } = t[lang].cvContent;
const { activeSkillsTitle } = t[lang].sectionTitles;
const { aboutActiveSkills } = t[lang].descriptions;
---

<CvSection id="active-skills" title={activeSkillsTitle} border={true} scroll={true}>
  <p class="font-body text-lg text-justify">
    {aboutActiveSkills}
  </p>
  <ul class="font-body text-lg text-left space-y-6">
    {
      activeSkills.map((skillsList) => (
        <li>
          <h3 class="text-2xl font-logo mb-2">{skillsList.area}</h3>
          <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2">
            {skillsList.skills.map((skill) => (
              <li class=" flex justify-center whitespace-nowrap bg-skillBg px-3 py-1 rounded-full text-sm">
                {skill}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</CvSection>
