---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';
import { Linkedin } from 'lucide-static';
import Icon from '../../Icon.astro';

const {
  contact: {
    linkedIn: { url: linkedIn, note },
  },
} = cvContent;
---

<CvSection id="contact" title="Connect with me" border={true} scroll={false} last={true}>
  <p class="font-body text-lg text-justify whitespace-pre-line">{note}</p>
  <a
    href={linkedIn}
    class="flex items-center justify-center mt-4 text-lg font-semibold text-fg hover:text-accent"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="flex items-center justify-center gap-2 hover:text-accent">
      <Icon
        svg={Linkedin}
        size="md"
        color="inherit"
        class="text-inherit hover:text-accent"
        aria-label="Github"
      />
      <p class="font-body text-lg hover:text-accent pt-2">LINKEDIN</p>
    </div>
  </a>
</CvSection>
