---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';
import { Linkedin } from 'lucide-static';
import Icon from '../../Icon.astro';

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const {
  contact: {
    linkedIn: { url: linkedIn, note },
  },
} = t[lang].cvContent;
const { contactTitle } = t[lang].sectionTitles;
---

<CvSection id="contact" title={contactTitle} border={true} scroll={false} last={true}>
  <p class="font-body text-lg text-justify whitespace-pre-line">{note}</p>
  <a
    href={linkedIn}
    class="flex items-center justify-center mt-4 text-lg font-semibold text-fg hover:text-accent"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="flex items-center justify-center gap-2 hover:text-accent">
      <Icon
        svg={Linkedin}
        size="md"
        color="inherit"
        class="text-inherit hover:text-accent"
        ariaLabel="Github"
      />
      <p class="font-body text-lg hover:text-accent pt-2">LINKEDIN</p>
    </div>
  </a>
</CvSection>
