---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';

const { education } = cvContent;
---

<CvSection id="education" title="Education" border={true}>
  <div class="scroll-fade-wrapper relative md:max-h-[60vh]">
    <div class="fade-top absolute top-0 left-0 w-full h-10 pointer-events-none z-10"></div>
    <div class="fade-bottom absolute bottom-0 left-0 w-full h-10 pointer-events-none z-10"></div>

    <div class="scroll-fade-target overflow-y-auto pr-2 max-h-[60vh]">
      <ul class="space-y-6 font-body text-lg text-left max-w-[500px] mx-auto">
        {
          education.map((school) => (
            <li>
              <h3 class="text-2xl font-logo mb-1">{school.institution}</h3>
              <p>
                <span class="font-semibold">Type:</span> {school.type}
              </p>
              <p>
                <span class="font-semibold">Degree:</span> {school.degree}
              </p>
              <p>
                <span class="font-semibold">Focus:</span> {school.description}
              </p>
              <p>
                <span class="font-semibold">Duration:</span> {school.duration}
              </p>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</CvSection>
