---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';

const { education } = cvContent;
---

<CvSection id="education" title="Education">
<ul class="font-body text-lg text-justify">
    {education.map((school) => {
      return (
        <h3 class="text-2xl font-logo">{school.institution}</h3>
        <p class="text-lg font-body">{school.type}</p>
        <p class="text-lg font-body">{school.degree}</p>
        <p class="text-lg font-body">{school.description}</p>
        <p class="text-lg font-body">{school.startDate} - {school.endDate}</p>
      );
    })}
  </ul>
</CvSection>