---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';
import { classes } from '../../../styles/tailwindClassNames';
import { cn } from '../../../utils/cn';

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const { dormantSkills } = t[lang].cvContent;
const { dormantSkillsTitle } = t[lang].sectionTitles;
const { aboutDormantSkills } = t[lang].descriptions;
---

<CvSection id="experience-with" title={dormantSkillsTitle} border={true} scroll={true}>
  <p class={cn(classes.text.paragraph)}>
   {aboutDormantSkills}
  </p>
    <ul class={cn(classes.text.paragraph)}>
        {dormantSkills.map((skillsList) => {
          return (
            <h3 class="text-2xl font-logo">{skillsList.area}</h3>
            <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2">
              {skillsList.skills.map((skill) => {
                return  <li class=" flex justify-center whitespace-nowrap bg-skillBg px-3 py-1 rounded-full text-sm">
                  {skill}
                </li>;
              })}
            </ul>
          );
        })}
      </ul>
</CvSection>
