---
import { cvContent } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';
import { Github } from 'lucide-static';
import Icon from '../../Icon.astro';

const {
  profileText,
  contact: {
    github: { url },
  },
} = cvContent;
---

<CvSection id="profile" title="Profile" border={true} scroll={false}>
  <p class="font-body text-lg text-justify whitespace-pre-line">{profileText}</p>
  <a
    href={url}
    class="flex items-center justify-center mt-4 text-lg font-semibold text-fg hover:text-accent"
    target="_blank"
    rel="noopener noreferrer"
  >
    <div class="flex items-center justify-center gap-2 mt-4 hover:text-accent">
      <Icon
        svg={Github}
        size="md"
        color="inherit"
        class="text-inherit hover:text-accent"
        aria-label="Github"
      />
      <p class="font-body text-lg hover:text-accent">GITHUB</p>
    </div>
  </a>
</CvSection>
