---
import { t } from '../../../Content/translations';
import CvSection from '../SectionWrapper.astro';

const lang = (Astro.cookies.get('lang')?.value as 'en' | 'sv') ?? 'en';
const { education } = t[lang].cvContent;
const { educationTitle } = t[lang].sectionTitles;
---

<CvSection id="education" title={educationTitle} border={true} scroll={true}>
  <ul class="space-y-6 font-body text-lg text-left max-w-[500px] mx-auto">
    {
      education.map((school) => (
        <li>
          <h3 class="text-2xl font-logo mb-1">{school.institution}</h3>
          <p>
            <span class="font-semibold">Type:</span> {school.type}
          </p>
          <p>
            <span class="font-semibold">Degree:</span> {school.degree}
          </p>
          <p>
            <span class="font-semibold">Focus:</span> {school.description}
          </p>
          <p>
            <span class="font-semibold">Duration:</span> {school.duration}
          </p>
        </li>
      ))
    }
  </ul>
</CvSection>
